/// colors

$white: #fff;
$black: #000;
$MediumBlue: #0e2b46;
$lightBlue: #0e2841;
$DarkBlue: #09102c;
$DarkMedium: #0d0b00;
$blueLight: #232b3e;

// font-family

$DMSans-Bold: "DMSans-Bold";
$DMSans-BoldItalic: "DMSans-BoldItalic";
$DMSans-Italic: "DMSans-Italic";
$DMSans-Medium: "DMSans-Medium";
$DMSans-MediumItalic: "DMSans-MediumItalic";
$DMSans-Regular: "DMSans-Regular";

// typography
