.large-extra {
  font-size: 72px;
}

.large {
  font-size: 60px;
}

.large-medium {
  font-size: 48px;
}

.large-small {
  font-size: 40px;
}

.medium-extra {
  font-size: 36px;
}

.medium-large {
  font-size: 30px;
}

.medium {
  font-size: 24px;
}

.medium-small {
  font-size: 20px;
}

.small-extra {
  font-size: 18px;
}

.small-large {
  font-size: 16px;
}

.small-medium {
  font-size: 14px;
}

.small {
  font-size: 12px;
}
