.tel {
    &__item {
        @include extraSmall-mediumBlueLineHeight;
        opacity: 0.6;
    }
}


@media screen and (max-width: 1024px) {
    .tel__item {
        font-family: $DMSans-Regular;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;

    }

    .tel {
        padding-bottom: 18px;
    }

}